[user]
	name = Raül Pérez
	email = repejota@gmail.com
[color]
	ui = auto
[advice]
	pushNonFastForward = false
	statusHints = false
[core]
	whitespace = trailing-space,space-before-tab
	editor = vim
[branch]
	autosetupmerge = true
[rerere]
	enabled = true
[alias]
    # show aliases
    alias = "!git config -l | grep alias | cut -c 7-"

    br = branch -v
    ci = commit -v
    co = checkout
    ls = log --graph --pretty=format:'%Cred%h%Creset %Cgreen%cr%Creset %Cblue%an%Creset%C(yellow)%d%Creset %s'
    lt = !git describe --tags `git rev-list --tags --max-count=1`

    # pull and rebase
    purr = pull --rebase

    # rebase and join last two commits
    j2 = rebase --interactive HEAD~2

    develop = checkout develop
    master = checkout master

    up = !git pull --rebase --prune $@ && git submodule update --init --recursive

[push]
	default = simple
