[submodule "vim-pathogen"]
        path = vim-pathogen
        url = git://github.com/tpope/vim-pathogen.git
[submodule "colors/base16-iterm2"]
        path = colors/base16-iterm2
        url = https://github.com/chriskempson/base16-iterm2.git
[submodule "colors/base16-shell"]
        path = colors/base16-shell
        url = https://github.com/chriskempson/base16-shell.git
[submodule "bundle/vim-javascript-syntax"]
        path = bundle/vim-javascript-syntax
        url = https://github.com/jelera/vim-javascript-syntax.git
[submodule "bundle/vim-javascript"]
        path = bundle/vim-javascript
        url = https://github.com/pangloss/vim-javascript.git
[submodule "bundle/powerline"]
        path = bundle/powerline
        url = https://github.com/Lokaltog/powerline
[submodule "bundle/powerline-shell"]
        path = bundle/powerline-shell
        url = https://github.com/milkbikis/powerline-shell
[submodule "bundle/vim-node"]
        path = bundle/vim-node
        url = https://github.com/guileen/vim-node
[submodule "bundle/jshint.vim"]
        path = bundle/jshint.vim
        url = git://github.com/walm/jshint.vim.git
[submodule "bundle/vim-less"]
        path = bundle/vim-less
        url = https://github.com/groenewege/vim-less.git
[submodule "bundle/vim-git"]
        path = bundle/vim-git
        url = https://github.com/tpope/vim-git.git
