[submodule ".contrib/base16-iterm2"]
	path = .contrib/base16-iterm2
	url = https://github.com/chriskempson/base16-iterm2.git
[submodule ".contrib/base16-shell"]
	path = .contrib/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".contrib/tomorrow-theme"]
	path = .contrib/tomorrow-theme
	url = https://github.com/chriskempson/tomorrow-theme.git
